::-webkit-scrollbar-thumb {
    background-color: #636660;
    border-radius: 20px;
}
::-webkit-scrollbar {
    width: 10px;
}

#toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    z-index: 99;
    border-radius: 10%;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
}
#toTop:hover,
.material-button:hover {
    border: 2px solid white;
}
.position-navbar {
    left: 5px;
    top: -1px;
    position: relative;
}
.carousel-indicators li.active {
    background-color: #d12420;
}
.icon-position {
    position: relative;
    top: 2px;
}
.carousel-caption {
    top: 50%;
}


.scroll-navbar {
    position: fixed !important;
    border-bottom: 1px solid white;
    box-shadow: 0 0 15px white;
    outline: 0;
    background: linear-gradient(to top, #172b4d, #6273d0);
}

.navbar-expand-lg .navbar-collapse {
    position: absolute;
    float: right;
    right: 50px;
}
/*
.navbar.navbar-main {
    height: 100px;
}
 */
.carousel-caption h1 {
    color: #ffffff;
}
.wrapper > .page-header > .container {
    padding: 0;
}
.page-header {
    min-height: auto;
}
.d-block {
    height: inherit;
}
.carousel-control-prev, .carousel-control-next {
    top: 25%;
}
.kazouTech-dropdown {
    position: absolute;
    transform: translate3d(0px, 42px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}

.kazouTech-carousel-image {
    min-height: 100vh;
    object-fit: fill;
}
.kazouTechSubscribe-wrapper {
    background-color: #d12420 !important;
}
.kazouTechOccupations-wrapper,
.kazouTechAbout-wrapper {
    padding: 3rem 0rem !important;
}
.kazouTechOccupationEmpty i.ni {
    font-size: 60px;
    border: 1px solid;
    border-radius: 100%;
    padding: 40px;
}
.page-header.page-header-mini {
    min-height: 60vh !important;
}

.ni-bold-up::before {
    position: relative;
    left: -3px;
}
.font-weight-medium:hover .fa-chevron-right:before {
    left: 10px;
    transition: left 300ms;
    position: relative;
}
.kazouTech-cities[data-animation="zooming"]:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
}
.kazouTech-divider {
    border-bottom: 1px solid #ffffff;
}
.kazouTech-register-divider {
    background-color: inherit;
    margin-top: 1em;
    line-height: 1.5;
    margin: 30px 0;
    color: #6c747e;
}
.kazouTech-register-divider:before {
    content: '';
    border-bottom: 0.0625em solid #e3e5e8;
    display: block;
    height: 0.5em;
}
.kazouTech-register-divider:after {
    background-color: inherit;
    content: attr(data-label);
    background: white;
    display: block;
    height: 1em;
    margin: -0.7em auto 0;
    text-align: center;
    width: 3em;
    text-transform: uppercase;
}
.kazouTech-register-submit .btn {
    width: 100%;
}
.kazouTech-red-color {
    color: #d12420 !important;
}
.kazouTech-grey-color {
    color: #63666a !important;
}
.kazouTech-white-color {
    color: #ffffff !important;
}
.footer .footer-description {
    padding: 20px 0px;
    text-align: justify;
    opacity: 1;
}

.kazouTech-register-container {
    max-width: 1215px;
}
.login-page .kazouTech-register-upper {
    margin-top: -100px;
    z-index: 2;
    position: relative;
}

.btn-wrapper a.btn {
    color: #ffffff;
}
.count-annonces {
    border: 1px solid green;
    padding: 4px 8px;
    border-radius: 100%;
    font-size: 15px;
    background: green;
}
.content-top {
float: right;
top: -30px;
position: relative;
z-index: 4;
}

.kazouTech-categories-annonces {
    font-weight: 600;
}

/*** RESPONSIVE DEVICE ***/
/************************/

@media (min-width: 768px) {
    .navbar-transparent .navbar-brand {
        position: relative;
        float: left;
        left: -15%;
    }
}

@media (min-width: 900px) and (max-width: 1440px) {
    .container-devices {
        max-width: 720px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-transparent .navbar-brand {
        left: 0%;
    }
}
@media only screen and (min-width: 1024px) {
    .kazouTechSteps-wrapper {
        padding: 13rem 0rem 3rem !important;
    }
    #navbar_global {
        margin: 0px -170px 0px;
        position: relative;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-indicators {
        display: none;
    }
    ul.navbar-nav li a.btn {
        width: 100%;
    }
    .kazouTech-carousel-image,
    .page-header {
        min-height: 70vh;
    }
    .login-page .kazouTech-register-upper {
        margin-top: 40px;
    }
    .kazouTech-register-right-block {
        top: 0px !important;
    }
}

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
}

@media only screen and (max-width: 900px) {
    .carousel-caption {
        top: 40%;
        left: 5%;
        right: 5%;
    }
    .carousel .carousel-item .title {
        font-size: 25px;
    }
    .display-1 {
        font-size: 1.5rem;
    }
    .kazouTech-title-mobile {
        display: none;
    }
}

.kazouImageCarousel-file-upload {
    display: none;
}
.profile > img {
    max-height: 100%;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.profile button {
    margin-top: -7px;
}
.kazouTech-page-header-mini {
    min-height: 80vh !important;
}
.features-5 .info {
    padding: 20px;
    text-align: justify !important;
}
.card-background .card-body .content-bottom .kazouTech-content-bottom {
    display: grid;
    margin: 0px 10px 0px 5px;
}
.kazouTech-register-icon {
    position: relative;
    top: 3px;
}
.kazouTech-register-gender {
    display: flex;
}
.kazouTech-register-right-block {
    position: relative;
    top: -50px;
}
.kazouTech-file-upload {
    display: none;
}
