::-webkit-scrollbar-thumb {
    background-color: #636660;
    border-radius: 20px;
}
::-webkit-scrollbar {
    width: 10px;
}

#toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    z-index: 99;
    border-radius: 10%;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
}
#toTop:hover,
.material-button:hover {
    border: 2px solid white;
}
.position-navbar {
    left: 5px;
    top: -1px;
    position: relative;
}
.carousel-indicators li.active {
    background-color: #d12420;
}
.icon-position {
    position: relative;
    top: 2px;
}
.carousel-caption {
    top: 40%;
}

/**
.scroll-navbar {
    position: fixed !important;
    border-bottom: 1px solid white;
    box-shadow: 0 0 15px white;
    outline: 0;
    background: linear-gradient(to left, #979aab, #5e72e4);
}
.navbar-expand-lg .navbar-collapse {
    position: absolute;
    float: right;
    right: 50px;
}
.navbar.navbar-main {
    height: 100px;
}
.carousel-caption h1 {
    color: #ffffff;
}
.wrapper > .page-header > .container {
    padding: 0;
}
.page-header {
    min-height: auto;
}
.d-block {
    height: inherit;
}
.kazouTech-dropdown {
    position: absolute;
    transform: translate3d(0px, 42px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}
 */
.w-100 {
    min-height: 100vh;
    object-fit: fill;
}
.kazouTechSubscribe-wrapper {
    background-color: #d12420 !important;
}
.kazouTechSteps-wrapper,
.kazouTechOccupations-wrapper {
    padding: 3rem 0rem !important;
}
.ni-bold-up::before {
    position: relative;
    left: -3px;
}
.font-weight-medium:hover .fa-chevron-right:before {
    left: 10px;
    transition: left 300ms;
    position: relative;
}
.kazouTech-cities[data-animation="zooming"]:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
}
.kazouTech-divider {
    border-bottom: 1px solid #ffffff;
}
.kazouTech-red-color {
    color: #d12420 !important;
}
.kazouTech-grey-color {
    color: #63666a !important;
}
.kazouTech-white-color {
    color: #ffffff !important;
}
.footer .footer-description {
    padding: 20px 0px;
    text-align: justify;
    opacity: 1;
}
.btn-wrapper a.btn {
    color: #ffffff;
}

/*** RESPONSIVE DEVICE ***/
/************************/
/*
@media (min-width: 768px) {
    .navbar-transparent .navbar-brand {
        position: relative;
        float: left;
        left: -15%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-transparent .navbar-brand {
        left: 0%;
    }
}
@media only screen and (min-width: 1024px) {
    #navbar_global {
        margin: 0px -170px 0px;
        position: relative;
    }
}

 */

@media only screen and (max-width: 768px) {
    .carousel-indicators {
        display: none;
    }
    ul.navbar-nav li a.btn {
        width: 100%;
    }
    .w-100,
    .page-header {
        min-height: 70vh;
    }
}

@media only screen and (max-width: 900px) {
    .carousel-caption {
        top: 30%;
    }
    .display-1 {
        font-size: 1.5rem;
    }
}

.kazouImageCarousel-file-upload {
    display: none;
}
.profile > img {
    max-height: 100%;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.profile button {
    margin-top: -7px;
}
